<!DOCTYPE html>
<html>

<head>
    <title>sample form</title>
    <meta name="keywords" content="form,MyUniversity,faculty">
    <meta name="description" content="My university form">
    <meta name="author" content="Raunak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>update</h1>
    </header>
    <main>
        <form  method="POST" action="/users/{{user.id}}/update/">
            {% csrf_token %}
            <input type="hidden" name="userid" value="{{user.id}}">
            <hr>
            <h2> First name</h2>
            <lable for="fname"></lable><input type="text" value="{{user.fname}}" placeholder="firstname" id="fname" name="fname" required>
            <h2> last name</h2>
            <label for="Lname">
                <input type="text" placeholder="lastname" id="Lname" value="{{user.lname}}" name="lname" ></label><br>
            <h2> Email</h2>
            <label for="email">
                <input type="email" placeholder="Email" id="email" value="{{user.email}}" name="email"required>
                </label>
            <br>
            
            <!--DOB-->
            <label for="birthday">DOB:</label>
            <input type="date" id="DOB" value="{{user.dob}}" name="dob" required>
            <br>
            
            <h2> gender</h2>
            <label for="gender">
                    <input type="text" id="gender" value="{{user.gender}}" name="gender"/>
                </label><br>
            
                <br>
                
           
            <hr>

            <button type="submit">update</button><br>
        </form>
    </main>
</body>

</html>